<!--
  Generated template for the PosicionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="orangeHuachera">
        <ion-title>Tablas de Posiciones</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="home">
    <div padding>
        <ion-segment [(ngModel)]="serie">
            <ion-segment-button value="general">
                Gral.
            </ion-segment-button>
            <ion-segment-button value="tercera">
                3a
            </ion-segment-button>
            <ion-segment-button value="segunda">
                2a
            </ion-segment-button>
            <ion-segment-button value="senior">
                S
            </ion-segment-button>
            <ion-segment-button value="primera">
                1a
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="serie">
        <ion-list *ngSwitchCase="'general'">
            <ion-item>
                <ion-grid>
                    <ion-row class="rowCabecera">
                        <ion-col col-1>
                            POS
                        </ion-col>
                        <ion-col col-6>
                            CLUB
                        </ion-col>
                        <ion-col col-1>
                            PTS
                        </ion-col>
                        <ion-col col-1>
                            PJ
                        </ion-col>
                        <ion-col col-1>
                            PG
                        </ion-col>
                        <ion-col col-1>
                            PE
                        </ion-col>
                        <ion-col col-1>
                            PP
                        </ion-col>
                    </ion-row>
                    <ion-row class="rowData" *ngFor="let pos of detalleGeneral">
                        <ion-col col-1 class="{{pos.class}} texto-posicion">
                            {{pos.pos}}
                        </ion-col>
                        <ion-col col-6 class="equipo-centrado-vertical">
                            <img src="{{pos.escudo_equipo_local}}" alt="" width="25px">
                            <!-- <p class="texto-club-tabla">{{pos.club}}</p> -->
                        </ion-col>
                        <ion-col col-1 class="col-pts texto-numero-tabla">
                            {{pos.puntos}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_jugados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_ganados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_empatados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_perdidos}}
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'tercera'" class="card-color">
            <ion-item>
                <ion-grid>
                    <ion-row class="rowCabecera">
                        <ion-col col-1>
                            POS
                        </ion-col>
                        <ion-col col-6>
                            CLUB
                        </ion-col>
                        <ion-col col-1>
                            PTS
                        </ion-col>
                        <ion-col col-1>
                            PJ
                        </ion-col>
                        <ion-col col-1>
                            PG
                        </ion-col>
                        <ion-col col-1>
                            PE
                        </ion-col>
                        <ion-col col-1>
                            PP
                        </ion-col>
                    </ion-row>
                    <ion-row class="rowData" *ngFor="let pos of detalleTercera">
                        <ion-col col-1 class="{{pos.class}} texto-posicion">
                            {{pos.pos}}
                        </ion-col>
                        <ion-col col-6 class="equipo-centrado-vertical">
                            <img src="{{pos.escudo_equipo_local}}" alt="" width="25px">
                            <!-- <p class="texto-club-tabla">{{pos.club}}</p> -->
                        </ion-col>
                        <ion-col col-1 class="col-pts texto-numero-tabla">
                            {{pos.puntos}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_jugados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_ganados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_empatados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_perdidos}}
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-item>

        </ion-list>

        <ion-list *ngSwitchCase="'segunda'">
            <ion-item>
                <ion-grid>
                    <ion-row class="rowCabecera">
                        <ion-col col-1>
                            POS
                        </ion-col>
                        <ion-col col-6>
                            CLUB
                        </ion-col>
                        <ion-col col-1>
                            PTS
                        </ion-col>
                        <ion-col col-1>
                            PJ
                        </ion-col>
                        <ion-col col-1>
                            PG
                        </ion-col>
                        <ion-col col-1>
                            PE
                        </ion-col>
                        <ion-col col-1>
                            PP
                        </ion-col>
                    </ion-row>
                    <ion-row class="rowData" *ngFor="let pos of detalleSegunda">
                        <ion-col col-1 class="{{pos.class}} texto-posicion">
                            {{pos.pos}}
                        </ion-col>
                        <ion-col col-6 class="equipo-centrado-vertical">
                            <img src="{{pos.escudo_equipo_local}}" alt="" width="25px">
                            <!-- <p class="texto-club-tabla">{{pos.club}}</p> -->
                        </ion-col>
                        <ion-col col-1 class="col-pts texto-numero-tabla">
                            {{pos.puntos}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_jugados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_ganados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_empatados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_perdidos}}
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'senior'">
            <ion-item>
                <ion-grid>
                    <ion-row class="rowCabecera">
                        <ion-col col-1>
                            POS
                        </ion-col>
                        <ion-col col-6>
                            CLUB
                        </ion-col>
                        <ion-col col-1>
                            PTS
                        </ion-col>
                        <ion-col col-1>
                            PJ
                        </ion-col>
                        <ion-col col-1>
                            PG
                        </ion-col>
                        <ion-col col-1>
                            PE
                        </ion-col>
                        <ion-col col-1>
                            PP
                        </ion-col>
                    </ion-row>
                    <ion-row class="rowData" *ngFor="let pos of detalleSenior">
                        <ion-col col-1 class="{{pos.class}} texto-posicion">
                            {{pos.pos}}
                        </ion-col>
                        <ion-col col-6 class="equipo-centrado-vertical">
                            <img src="{{pos.escudo_equipo_local}}" alt="" width="25px">
                            <!-- <p class="texto-club-tabla">{{pos.club}}</p> -->
                        </ion-col>
                        <ion-col col-1 class="col-pts texto-numero-tabla">
                            {{pos.puntos}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_jugados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_ganados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_empatados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_perdidos}}
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'primera'">
            <ion-item>
                <ion-grid>
                    <ion-row class="rowCabecera">
                        <ion-col col-1>
                            POS
                        </ion-col>
                        <ion-col col-6>
                            CLUB
                        </ion-col>
                        <ion-col col-1>
                            PTS
                        </ion-col>
                        <ion-col col-1>
                            PJ
                        </ion-col>
                        <ion-col col-1>
                            PG
                        </ion-col>
                        <ion-col col-1>
                            PE
                        </ion-col>
                        <ion-col col-1>
                            PP
                        </ion-col>
                    </ion-row>
                    <ion-row class="rowData" *ngFor="let pos of detallePrimera">
                        <ion-col col-1 class="{{pos.class}} texto-posicion">
                            {{pos.pos}}
                        </ion-col>
                        <ion-col col-6 class="equipo-centrado-vertical">
                            <img src="{{pos.escudo_equipo_local}}" alt="" width="25px">
                            <!-- <p class="texto-club-tabla">{{pos.club}}</p> -->
                        </ion-col>
                        <ion-col col-1 class="col-pts texto-numero-tabla">
                            {{pos.puntos}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_jugados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_ganados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_empatados}}
                        </ion-col>
                        <ion-col col-1 class="texto-numero-tabla">
                            {{pos.partidos_perdidos}}
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-item>
        </ion-list>
    </div>
    <ion-fab top right edge>
        <button color="azulHuachera" ion-fab (click)="recargar()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab>
</ion-content>