page-posicion {
    .rowCabecera>ion-col {
        font-size: 7px;
        background-color: #215584;
        color: white;
        font-weight: bold;
    }
    .rowData>ion-col {
        font-size: 7px;
        border-bottom: 0.55px solid #c8c7cc;
        height: 25px;
    }
    .col-pts {
        background-color: #d9ebfb;
    }
    .col-odd {
        background-color: #f9f9f9;
    }
    .col-even {
        background-color: #ffffff;
    }
}