page-home {
    .naranjo {
        background-color: #ff5704!important;
    }
    .rowCabecera>ion-col {
        font-size: 7px;
        background-color: #215584;
        color: white;
        font-weight: bold;
        text-align: left;
    }
    .rowData>ion-col {
        font-size: 7px;
        border-bottom: 0.55px solid #c8c7cc;
        height: 25px;
    }
    .col-pts {
        background-color: #d9ebfb;
    }
    .font-size-12 {
        font-size: 12px;
    }
    .card-color {
        background-color: rgba(56, 201, 243, .2);
    }
}