<ion-header>
    <ion-navbar color="orangeHuachera">

        <ion-title text-center>C.D. HUACHERA</ion-title>

    </ion-navbar>
</ion-header>

<ion-content padding text-center class="home">
    <img src="../../assets/imgs/huachera.png" width="300" text-center/>

    <ion-card class="card-color" *ngFor="let enc of proximoEncuentro">

        <ion-card-header>
            <p text-center>Próximo Partido Fecha n° {{enc.nro_fecha}}</p>
            <p text-center>{{enc.estadio}}</p>
            <p text-center>{{enc.fecha}}</p>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-5 text-center>
                        <img src="{{enc.escudo_equipo_local}}" />
                    </ion-col>
                    <ion-col col-2 class="texto_medio_vertical">
                        <p text-center>- vs -</p>
                    </ion-col>
                    <ion-col col-5 text-center>
                        <img src="{{enc.escudo_equipo_visita}}" />
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{enc.nombre_equipo_local}}</p>
                    </ion-col>
                    <ion-col col-2>

                        <p text-center *ngIf="enc.estado == 2">{{enc.puntos_local}} -pts- {{enc.puntos_visita}}</p>

                    </ion-col>
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{enc.nombre_equipo_visita}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid *ngIf="enc.estado == 2">
                <ion-row *ngFor="let detalle of detalleTercera">
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_local}}</p>
                    </ion-col>
                    <ion-col col-2>

                        <p text-center>Tercera</p>

                    </ion-col>
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_visita}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let detalle of detalleSegunda">
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_local}}</p>
                    </ion-col>
                    <ion-col col-2>

                        <p text-center>Segunda</p>

                    </ion-col>
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_visita}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let detalle of detalleSenior">
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_local}}</p>
                    </ion-col>
                    <ion-col col-2>

                        <p text-center>Senior</p>

                    </ion-col>
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_visita}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let detalle of detallePrimera">
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_local}}</p>
                    </ion-col>
                    <ion-col col-2>

                        <p text-center>Primera</p>

                    </ion-col>
                    <ion-col col-5 text-center>
                        <p class="font-size-12">{{detalle.numero_goles_visita}}</p>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-card-content>
    </ion-card>

    <ion-card class="card-color">

        <ion-card-header>
            <p text-center>Expulsados</p>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row class="rowCabecera">
                    <ion-col col-8>
                        Jugador
                    </ion-col>
                    <ion-col col-2>
                        PA
                    </ion-col>
                    <ion-col col-2>
                        PP
                    </ion-col>
                </ion-row>
                <ion-row class="rowData" *ngFor="let pos of expulsados">
                    <ion-col col-8 text-left>
                        {{pos.jugador}}
                    </ion-col>
                    <ion-col col-2>
                        {{pos.partidos_asignados}}
                    </ion-col>
                    <ion-col col-2 class="col-pts">
                        {{pos.partidos_pendientes}}
                    </ion-col>
                </ion-row>

            </ion-grid>
            <p class="font-size-12">PA=Partidos Asignados</p>
            <p class="font-size-12">PP=Partidos Pendientes</p>
        </ion-card-content>



    </ion-card>
    <ion-fab top right edge>
        <button color="azulHuachera" ion-fab (click)="recargar()"><ion-icon name="refresh"></ion-icon></button>
    </ion-fab>
</ion-content>