.home {
    background: -webkit-gradient(to bottom, #ff5704 0%, #fff 100%);
    background: -o-linear-gradient(to bottom, #ff5704 0%, #fff 100%);
    background: -moz-linear-gradient(to bottom, #ff5704 0%, #fff 100%);
    background: linear-gradient(to bottom, #ff5704 0%, #fff 100%);
}

.texto-color-blanco {
    color: white;
}

.card-color {
    background: rgba(56, 201, 243, .2);
}