page-resultado {
    .itemlistaresult {
        background-color: rgba(56, 201, 243, .2);
    }
    .font-size-12 {
        font-size: 12px;
    }
    .texto_medio_vertical {
        padding-top: 40px;
    }
}